@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  /* font-family: 'Preahvihear'; */
  /* src: url('./assets/fonts/Preahvihear.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}
