@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap'); */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:"Preahvihear, Helvetica, sans-serif";
}

@font-face {
  font-family: 'Preahvihear';
  src: url('./assets/fonts/Preahvihear.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
